<!DOCTYPE html>
<html>
<head>
    <script src="res/jquery.js"></script>
    <link rel="stylesheet" href="res/bootstrap.css">
    <script src="res/bootstrap.js"></script>
    </head>
<body>
    
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">VoteNow</a>
      <div class="user">UserName</div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
   
      <li class="nav-item">
        <a class="nav-link" href="#">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placeholder</a>
      </li>
    </ul>
  </div>
</nav>
    
         
    <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 mt-5">
        
        <form>
    <div class="form-group">
        <label for="name"><h6>Name your vote</h6></label>
        <input id="name" type="text" class="form-control" placeholder="Name">
        </div> 
            
       <h6> Add options</h6>
            <input id="option1" type="text" placeholder="Option 1" class="form-control mt-4">
            <input id="option2" type="text" placeholder="Option 2" class="form-control">
            <div class="addOptions mb-4">
            </div>
            
            <button type="button" class="btn btn-primary addFiled">Add Field</button>
            <input type="submit" class="btn btn-primary">
            
            
    </form>
        </div>
        </div>
    </div>
    
    
    
    
    
    
    <div class="footer text-center mt-4">Created by Supun Sudaraka</div>
    </body>
</html>